<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <!-- theme meta -->
    <meta name="theme-name" content="quixlab" />
  
    <title>Heladeras</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Pignose Calender -->
    <link href="./plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="./plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="./plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <!-- Custom Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index">
                    <b class="logo-abbr"><img src="images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="./images/logo_n.png" alt=""></span>
                    <span class="brand-title">
                        <img src="images/logo_n.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">    
            <div class="header-content clearfix">
                
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                </div>
                <div class="header-right">
                    <ul class="clearfix">

                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                 <img src="images/usu.png" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="app-profile"><i class="icon-user"></i> <span>Mi cuenta</span></a>
                                        </li>
                                        
                                        <hr class="my-2">
                                        <li>
                                            <a href="#" onclick="document.getElementById('logout-form').submit(); return false;"><i class="icon-key"></i> <span>Cerrar sesión</span></a>

                                            <form id="logout-form" action="/logout" method="POST" style="display: none;"></form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    {{#each menu as | link |}}
                        <li>
                            <a href="{{link.href}}" aria-expanded="false">
                                <i class="{{link.icono}} menu-icon"></i><span class="nav-text">{{link.titulo}}</span>
                            </a>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div style="display: flex;">
                <div class="col-lg-8" style="padding: 0;">
                    <gmp-map
                        center="-34.649518, -58.552020"
                        zoom="10"
                        map-id="DEMO_MAP_ID"
                        class="mapa">
                        {{#each hela}}
                            {{#if (notEqual (estadoString this) "Propuesta")}}
                                <gmp-advanced-marker position="{{lat_lon this.direccion}}" title="{{this.nombre}}">
                                    <div class="custom-marker bg-{{estadoStringStyle this}}">
                                        <span class="marker-label">{{this.nombre}}</span>
                                    </div>
                                </gmp-advanced-marker>
                            {{/if}}
                        {{/each}}
                    </gmp-map>
                </div>

                <div class="col-lg-4 lista-heladera">
                    {{#each hela}}
                        {{#if (notEqual (estadoString this) "Propuesta")}}
                            <div class="card">
                                <div class="card-body heladera-item">
                                    <h3>{{this.nombre}} <span class="label label-pill label-{{estadoStringStyle this}}">{{estadoString this}}</span></h3>
                                    <i class="icon-cup menu-icon"></i><span style="margin-left: 5px;">{{viandas_del_total this}} viandas</span><br><br>

                                    <a class="btn" href="reportar-falla?id={{this.id}}" aria-expanded="false">
                                    <button type="button" class="btn mb-1 btn-danger" style="margin-left: 5px;">Reportar falla</button>
                                    </a>

                                    <div class="btn-group">
                                        <!-- Menú desplegable personalizado -->
                                        <div class="dropdown" style="margin-left: 5px;">
                                            <button type="button" class="btn mb-1 btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Suscribirse
                                            </button>
                                            <div class="dropdown-menu p-3" name="tipo_sub" style="min-width: 250px;">
                                                <!-- Opción deshabilitada -->
                                                <a class="dropdown-item disabled">Tipo de suscripción</a>

                                                <!-- Opción "Pocas Viandas" con input -->
                                                <div class="dropdown-item">
                                                    <label onclick="event.stopPropagation()">
                                                        <input type="checkbox" name="tipo_suscripcion_{{this.id}}" value="PocasViandas"
                                                               {{#if (botonSubscribirActivo ../usuario this "PocasViandas")}}checked{{/if}}>
                                                        Pocas Viandas
                                                    </label>
                                                    <input value="{{obtenerCantidadOg ../usuario this "PocasViandas"}}" type="number" min="1" max="{{restarUno this.tamanioEnViandas}}" id="input-PocasViandas-{{this.id}}" class="form-control mt-1" placeholder="Cantidad">
                                                </div>

                                                <!-- Opción "Muchas Viandas" con input -->
                                                <div class="dropdown-item">
                                                    <label onclick="event.stopPropagation()">
                                                        <input type="checkbox" name="tipo_suscripcion_{{this.id}}" value="MuchasViandas"
                                                               {{#if (botonSubscribirActivo ../usuario this "MuchasViandas")}}checked{{/if}}>
                                                        Muchas Viandas
                                                    </label>
                                                    <input value="{{obtenerCantidadOg ../usuario this "MuchasViandas"}}" type="number" min="1" max="{{restarUno this.tamanioEnViandas}}" id="input-MuchasViandas-{{this.id}}" class="form-control mt-1" placeholder="Cantidad">
                                                </div>

                                                <!-- Opción "No Funciona" -->
                                                <div class="dropdown-item">
                                                    <label onclick="event.stopPropagation()">
                                                        <input type="checkbox" name="tipo_suscripcion_{{this.id}}" value="NoFunciona"
                                                               {{#if (botonSubscribirActivo ../usuario this "NoFunciona")}}checked{{/if}}>
                                                        No Funciona
                                                    </label>
                                                </div>

                                                <!-- Botón "Aceptar" para enviar la suscripción de esta heladera -->
                                                <button type="button" class="btn btn-primary mt-2 w-100" onclick="enviarSuscripcion('{{this.id}}')">
                                                    Aceptar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                </div>

            </div>

        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Trabajo Integrador DDS 2024 Grupo 12</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="plugins/common/common.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/gleek.js"></script>
    <script src="js/styleSwitcher.js"></script>

    <!-- Chartjs -->
    <script src="./plugins/chart.js/Chart.bundle.min.js"></script>
    <!-- Circle progress -->
    <script src="./plugins/circle-progress/circle-progress.min.js"></script>
    <!-- Datamap -->
    <script src="./plugins/d3v3/index.js"></script>
    <script src="./plugins/topojson/topojson.min.js"></script>
    <script src="./plugins/datamaps/datamaps.world.min.js"></script>
    <!-- Morrisjs -->
    <script src="./plugins/raphael/raphael.min.js"></script>
    <script src="./plugins/morris/morris.min.js"></script>
    <!-- Pignose Calender -->
    <script src="./plugins/moment/moment.min.js"></script>
    <script src="./plugins/pg-calendar/js/pignose.calendar.min.js"></script>
    <!-- ChartistJS -->
    <script src="./plugins/chartist/js/chartist.min.js"></script>
    <script src="./plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>



    <script src="./js/dashboard/dashboard-1.js"></script>

    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpLD7qIQmAy7RyR26CDKPafLsTrZ4oNjc&callback=initMap&libraries=marker&v=beta"
            defer
    ></script>

    <script>
        function suscri_dropdown(helaID){
            console.log("Estoy en suscri_dropdown con helaID: ");
            document.getElementById(helaID + "_formulario").submit();
        }
    </script>

    <script>
        // Función para enviar la suscripción de una heladera específica
        function enviarSuscripcion(heladeraId) {
            const tiposSuscripcion = [];
            const checkboxes = document.querySelectorAll(`input[name="tipo_suscripcion_${heladeraId}"]:checked`);

            checkboxes.forEach(checkbox => {
                const tipo = checkbox.value;
                const cantidadInput = document.getElementById(`input-${tipo}-${heladeraId}`);
                const cantidad = cantidadInput ? cantidadInput.value : null;

                if (tipo === "NoFunciona") {
                    tiposSuscripcion.push({ tipo, cantidad: null });
                } else if (cantidad) {
                    tiposSuscripcion.push({ tipo, cantidad });
                }
            });

            // Enviar los datos al servidor
            fetch('/botonSuscribe', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ heladeraId, tiposSuscripcion }),
            })
            .then(response => response.json())
            .then(data => {
                alert('Suscripción guardada correctamente');
                console.log(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>

    <!-- Toastr JS + OBS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        // Configuración básica de Toastr
        toastr.options = {
            closeButton: true, // Muestra un botón para cerrar
            progressBar: false, // Muestra una barra de progreso
            positionClass: 'toast-bottom-right', // Posición del toast
            timeOut: 5000 // Tiempo de visualización (5 segundos)
        };

        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }

        const mensajeError = getCookie('obs_error');
        const mensajeExito = getCookie('obs_exito');

        console.log("Mensaje de error:", mensajeError); // Depuración
        console.log("Mensaje de éxito:", mensajeExito); // Depuración

        // Mostrar toast de error si existe
        if (mensajeError) {
            const mensajeDecodificado = decodeURIComponent(mensajeError.replace(/\+/g, ' '));
            toastr.error(mensajeDecodificado);
            document.cookie = 'obs_error=; Max-Age=0; path=/';
        }

        // Mostrar toast de éxito si existe
        if (mensajeExito) {
            const mensajeDecodificado = decodeURIComponent(mensajeExito.replace(/\+/g, ' '));
            toastr.success(mensajeDecodificado);
            document.cookie = 'obs_exito=; Max-Age=0; path=/';
        }
    </script>
</body>

</html>
