<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <!-- theme meta -->
    <meta name="theme-name" content="quixlab" />
  
    <title>Nueva Visita</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Pignose Calender -->
    <link href="./plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="./plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="./plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <!-- Custom Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index">
                    <b class="logo-abbr"><img src="images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="./images/logo_n.png" alt=""></span>
                    <span class="brand-title">
                        <img src="images/logo_n.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">    
            <div class="header-content clearfix">
                
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                </div>
                <div class="header-right">
                    <ul class="clearfix">

                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                 <img src="images/usu.png" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="app-profile"><i class="icon-user"></i> <span>Mi cuenta</span></a>
                                        </li>
                                        
                                        <hr class="my-2">
                                        <li>
                                            <a href="#" onclick="document.getElementById('logout-form').submit(); return false;"><i class="icon-key"></i> <span>Cerrar sesi칩n</span></a>

                                            <form id="logout-form" action="/logout" method="POST" style="display: none;"></form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    {{#each menu as | link |}}
                        <li>
                            <a href="{{link.href}}" aria-expanded="false">
                                <i class="{{link.icono}} menu-icon"></i><span class="nav-text">{{link.titulo}}</span>
                            </a>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            
            <div style="display: flex;">
                <div class="col-lg-6" style="margin-top: 15px;">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Detalles de la visita para el incidente <b class="text-danger">#{{incidente.id}}</b> de la heladera <b class="text-danger">{{incidente.heladera.nombre}}</b></h4>
                            <div class="basic-form">
                                <form action="/nueva-visita" method="post" enctype="multipart/form-data">

                                    <div class="form-group">
                                        <label>Descripci칩n de la visita y el trabajo hecho</label>
                                        <textarea name="descripcion" class="form-control" placeholder="Descripci칩n detallada" rows="5" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Foto</label>
                                        <input type="file" name="imagen" class="form-control" accept="image/*">
                                    </div>
                                    <input style="display:none" name="id" value="{{incidente.id}}">
                                    <div class="form-check" style="margin-bottom: 10px">
                                        <input class="form-check-input" type="checkbox" name="solucionado" id="solucionado">
                                        <label class="form-check-label" for="solucionado">
                                            La heladera fue reparada y est치 lista para volver a operar
                                        </label>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Terminar</button>
                                </form>
                                                                                          
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" style="margin-top: 15px;">
                    <div class="card">
                        <div class="card-body" style="padding: 74px 29px;">
                            <h3>Reporte original - <b>{{incidente.fecha}}</b></h3>
                            <div class="evo-imagen">
                                <p>{{incidente.descripcion}}</p>
                                <img src={{get_archivo urlUploads incidente.foto}} alt="">
                            </div>
                            {{#each incidente.evolucionDeIncidente}}
                                <h3><b>{{this.fechaVisita}}</b></h3>
                                <div class="evo-imagen">
                                    <p>{{this.descripcion}}</p>
                                    <img class="" src={{get_archivo urlUploads this.foto}} alt="">
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Trabajo Integrador DDS 2024 Grupo 12</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="plugins/common/common.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/gleek.js"></script>
    <script src="js/styleSwitcher.js"></script>

    <!-- Chartjs -->
    <script src="./plugins/chart.js/Chart.bundle.min.js"></script>
    <!-- Circle progress -->
    <script src="./plugins/circle-progress/circle-progress.min.js"></script>
    <!-- Datamap -->
    <script src="./plugins/d3v3/index.js"></script>
    <script src="./plugins/topojson/topojson.min.js"></script>
    <script src="./plugins/datamaps/datamaps.world.min.js"></script>
    <!-- Morrisjs -->
    <script src="./plugins/raphael/raphael.min.js"></script>
    <script src="./plugins/morris/morris.min.js"></script>
    <!-- Pignose Calender -->
    <script src="./plugins/moment/moment.min.js"></script>
    <script src="./plugins/pg-calendar/js/pignose.calendar.min.js"></script>
    <!-- ChartistJS -->
    <script src="./plugins/chartist/js/chartist.min.js"></script>
    <script src="./plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>



    <script src="./js/dashboard/dashboard-1.js"></script>

    <script>
        function toggleDireccion() {
            var checkbox = document.getElementById('situacionCalle');
            var direccion = document.getElementById('direccion');
            direccion.disabled = checkbox.checked;
        }
    
        function toggleDocumento() {
            var tipoDocumento = document.getElementById('tipoDocumento');
            var documento = document.getElementById('documento');
            documento.disabled = tipoDocumento.value === 'No tiene';
        }
    </script>

</body>

</html>
