<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <!-- theme meta -->
    <meta name="theme-name" content="quixlab" />
  
    <title>Traslados</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Pignose Calender -->
    <link href="./plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="./plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="./plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <!-- Custom Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index">
                    <b class="logo-abbr"><img src="images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="./images/logo_n.png" alt=""></span>
                    <span class="brand-title">
                        <img src="images/logo_n.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">    
            <div class="header-content clearfix">
                
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown"><a href="javascript:void(0)" data-toggle="dropdown">
                                <i class="mdi mdi-bell-outline"></i>
                                <span class="badge badge-pill gradient-2">3</span>
                            </a>
                            <div class="drop-down animated fadeIn dropdown-menu dropdown-notfication">
                                <div class="dropdown-content-heading d-flex justify-content-between">
                                    <span class="">2 New Notifications</span>  
                                    <a href="javascript:void()" class="d-inline-block">
                                        <span class="badge badge-pill gradient-2">5</span>
                                    </a>
                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Events near you</h6>
                                                    <span class="notification-text">Within next 5 days</span> 
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Event Started</h6>
                                                    <span class="notification-text">One hour ago</span> 
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Event Ended Successfully</h6>
                                                    <span class="notification-text">One hour ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Events to Join</h6>
                                                    <span class="notification-text">After two days</span> 
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    
                                </div>
                            </div>
                        </li>
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="images/user/1.png" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="app-profile"><i class="icon-user"></i> <span>Mi cuenta</span></a>
                                        </li>
                                        
                                        <hr class="my-2">
                                        <li>
                                            <a href="#" onclick="document.getElementById('logout-form').submit(); return false;"><i class="icon-key"></i> <span>Cerrar sesión</span></a>

                                            <form id="logout-form" action="/logout" method="POST" style="display: none;"></form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    {{#each menu as | link |}}
                        <li>
                            <a href="{{link.href}}" aria-expanded="false">
                                <i class="{{link.icono}} menu-icon"></i><span class="nav-text">{{link.titulo}}</span>
                            </a>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            
            <div style="display: flex;">
                <div class="col-lg-8" style="padding: 0;">
                    <gmp-map
                        center="-34.649518, -58.552020"
                        zoom="10"
                        map-id="DEMO_MAP_ID"
                        class="mapa">
                        {{#each hela}}
                            {{#if (notEqual (estadoString this) "Propuesta")}}
                                <gmp-advanced-marker position="{{lat_lon this.direccion}}" title="{{this.nombre}}">
                                    <div class="custom-marker bg-{{estadoStringStyle this}}">
                                        <span class="marker-label">{{this.nombre}}</span>
                                    </div>
                                </gmp-advanced-marker>
                            {{/if}}
                        {{/each}}
                    </gmp-map>
                </div>
                    <div class="col-lg-4 lista-heladera">
                        {{#each hela as |hela|}}
                            <div class="card">
                                <div class="card-body heladera-item">
                                    <h3>{{hela.nombre}}
                                        <span class="label label-pill label-{{estadoStringStyle hela}}">{{estadoString hela}}</span>
                                    </h3>
                                    <i class="icon-cup menu-icon"></i><span style="margin-left: 5px;">{{viandas_del_total hela}} viandas</span><br><br>
                                    <form action="/traslado" method="post">
                                    <div style="display: flex;">
                                        <div class="form-group" style="width: 120px; margin-right: 10px;">
                                            <input name="heladeraID" value={{hela.id}} style="display:none">
                                            <input type="number" min="1" max="{{viandas_en_heladera hela}}" name="cantidad" class="form-control" placeholder="Cantidad">
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control" name="heladeraIDHacia" required>
                                                <option selected disabled>Selecciona una heladera...</option>
                                                {{#each ../hela as |heladeras_t|}}
                                                    <option value="{{heladeras_t.id}}">{{heladeras_t.nombre}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                        <div class="form-group d-flex gap-3">
                                            <select class="form-control" required name="motivoTraslado">
                                                <option selected disabled>Seleccione un motivo...</option>
                                                <option value="DESPERFECTO_HELADERA">Desperfecto de heladera</option>
                                                <option value="FALTA_DE_VIANDAS">Falta de viandas</option>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn mb-1 btn-primary" style="height: 37px; margin-top: 5px; margin-left: 10px;">Trasladar</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        {{/each}}
                    </div>
            </div>

        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Trabajo Integrador DDS 2024 Grupo 12</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="plugins/common/common.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/gleek.js"></script>
    <script src="js/styleSwitcher.js"></script>

    <!-- Chartjs -->
    <script src="./plugins/chart.js/Chart.bundle.min.js"></script>
    <!-- Circle progress -->
    <script src="./plugins/circle-progress/circle-progress.min.js"></script>
    <!-- Datamap -->
    <script src="./plugins/d3v3/index.js"></script>
    <script src="./plugins/topojson/topojson.min.js"></script>
    <script src="./plugins/datamaps/datamaps.world.min.js"></script>
    <!-- Morrisjs -->
    <script src="./plugins/raphael/raphael.min.js"></script>
    <script src="./plugins/morris/morris.min.js"></script>
    <!-- Pignose Calender -->
    <script src="./plugins/moment/moment.min.js"></script>
    <script src="./plugins/pg-calendar/js/pignose.calendar.min.js"></script>
    <!-- ChartistJS -->
    <script src="./plugins/chartist/js/chartist.min.js"></script>
    <script src="./plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>



    <script src="./js/dashboard/dashboard-1.js"></script>

    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpLD7qIQmAy7RyR26CDKPafLsTrZ4oNjc&callback=initMap&libraries=marker&v=beta"
    defer
    ></script>

</body>

</html>
